@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-inter: var(--font-inter);
  --font-outfit: var(--font-outfit);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-outfit {
  font-family: var(--font-outfit), sans-serif;
}
